{% if paginator.total_pages > 1 %}
<div class="pagination">
  <ul class="pagination-list">
    {% if paginator.previous_page %}
    <li class="page-item previous">
      <a href="{{ paginator.previous_page_path | relative_url }}" class="page-link">
        <i data-feather="chevron-left"></i> Previous
      </a>
    </li>
    {% else %}
    <li class="page-item previous disabled">
      <span class="page-link">
        <i data-feather="chevron-left"></i> Previous
      </span>
    </li>
    {% endif %}
    
    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        <li class="page-item {% if page.url == trail.path %}active{% endif %}">
          <a href="{{ trail.path | relative_url }}" class="page-link">{{ trail.num }}</a>
        </li>
      {% endfor %}
    {% else %}
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li class="page-item active">
          <span class="page-link">{{ page }}</span>
        </li>
        {% elsif page == 1 %}
        <li class="page-item">
          <a href="{{ paginator.previous_page_path | relative_url }}" class="page-link">{{ page }}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page-link">{{ page }}</a>
        </li>
        {% endif %}
      {% endfor %}
    {% endif %}
    
    {% if paginator.next_page %}
    <li class="page-item next">
      <a href="{{ paginator.next_page_path | relative_url }}" class="page-link">
        Next <i data-feather="chevron-right"></i>
      </a>
    </li>
    {% else %}
    <li class="page-item next disabled">
      <span class="page-link">
        Next <i data-feather="chevron-right"></i>
      </span>
    </li>
    {% endif %}
  </ul>
</div>
{% endif %}
